@font-face {
    font-family: "PT Sans";
    src: url("@/assets/fonts/PTSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  body, html {
  background-color: #e0dcd5;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}